#container
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    .imageCard
        max-height: 70vh
        max-width: 70vw
        img
            max-height: 70vh
            max-width: 70vw
        hidden
            visibility: hidden
