<div id="navbarDiv">
    <img id="logo" src = "./assets/icons/visma_logo.webp" alt="Logo"/>
    <img id="menu" src = "./assets/icons/menu_FILL0_wght400_GRAD0_opsz48.svg" alt="Menu" (click)="menuOpen()"/>
</div>

<div id ="collapsableMenu">
    <div id = "menuElment">
        <p>Newcomers</p>
    </div>

    <div id = "menuElment">
        <p>New Projects</p>
    </div>

    <div id = "menuElment">
        <p>Tournaments</p>
    </div>

    <div id = "menuElment">
        <p>Sport Challenges</p>
    </div>

    <div id = "menuElment">
        <p>Other events</p>
    </div>
    
   
   


</div>