#navbarDiv
    display: flex
    flex-direction: row
    height: 9vh
    width: 100vw
    background-color: #fff
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 8%)
    align-items: center
    justify-content: space-between
    #logo
        max-height: 4vh
        padding: 6vw
    #menu
        max-height: 4vh
        padding: 6vw
#collapsableMenu
    width: 100vw
    background-color: #fff
    #menuElement
        p
            padding: 10px
