<div class="wrapper">
    <form class="grid" method="post" action="http://10.0.5.151/api/upload" enctype="multipart/form-data">
        <div class="a">
            <label for="category">Title</label><br>
            <input type="text" id="title" name="title" required><br>
        </div>

        <div class="b">
            <label for="category">Category</label><br>
            <select id="category" name="category" required>
                <ng-container *ngFor="let category of categories, let i = index">
                    <option value="{{routes[i]}}">{{category}}</option>
                </ng-container>
            </select><br>
        </div>

        <div class="c">
            <label for="start">Date</label><br>
            <input type="date" id="date" name="date" required><br>
        </div>

        <div class="d">
            <label for="start">Description</label><br>
            <textarea type="text" id="description" name="description" rows="7" required></textarea>
        </div>

        <div class="e">
            <label for="pictures">Pictures</label><br>
            <input type="file" id="pictures" name="pictures" accept="image/*" multiple required><br>
        </div>

        <div class="f">
            <input type="submit" value="Add new post">
        </div>
    </form>
</div>